$zero:0px;
$n:none;
$b:block;

*{
    padding:$zero;
    margin:$zero;
}
body,div,p,a,h1,h2,h3,em,strong,header,nav{
    padding:$zero;
    margin:$zero;
}
a{
    text-decoration: $n;
}

ul,ol{
    list-style: $n;
}

.l_header{
    height: 98px;
    overflow: hidden;
        .logo{
            float: left;
            margin-left: 10px;
            width: 180px;
            height: 113px;
            display: block;
                img{
                border: 0;
                }
            }   
 }
 .wrap{
    margin: 0 auto;
    width: 990px;
 }
 
.l_main{
    position: relative;
    background: url(../img/l_bg_02.png) no-repeat left top;
    width: 988px;
  height: auto ;
    min-height: 352px;
    color: #5e5e5e;
    border: #e6e6e6 1px solid;
    border-top: #0083ce 2px solid;
    box-shadow: -1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF;
    padding-bottom: 20px;
    
    .l_left{
        float: left;
        width: 560px;
        height:363px;
    }
    .l_right{
        float: right;
        width:427px;
    }
}

/*main*/
.tabdiv{
    width: 429px;
    p{
        width: 429px;
        height: 46px;
        border-bottom: 1px solid #e2e2e2;
        text-align: center;
        line-height: 46px;
        a{
            width:154px ;
            height:25px ;
            display: inline-block;
            color: #2c9ee1;
            font-size:14px;
            line-height: 25px;
        }
        .putong{
            border-right: 1px solid #e2e2e2;
        }
        .kuaisu{
            color: #333333;
        }
    }
}
.l_form{
    margin: 0 30px;
    h2{
        font-size: 16px;
        font-weight: normal;
        width: 370px;
        height: 46px;
        line-height: 46px;
        span{
            font-size: 12px;
            float: right;
        }
        a{
            font-size: 12px;
            color: #0083ce;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    
    .uname{
        width: 300px;
       height: 40px;
        display: block;
        padding-left: 40px ;
        color: 14px;
        background: url(../img/regest.png) no-repeat  8px -114px;
         border: none;
         border: 1px solid #e6e6e6;
    }
    
    .pwddiv{
        position: relative;
        #pwd{
            margin-top: 30px;
            background: url(../img/regest.png) no-repeat 8px -145px;
        }
        a{
            position: absolute;
            right: 20px;
            color: #333333;
        }
        a:hover{
            text-decoration: underline;
            color: #0083ce;
        }
    }
    
    .yzmDiv{
        margin-top:30px;
        .yzm{
            width: 173px;
            height: 40px;
            font-size:14px;
            display: inline-block;
            border: 1px solid #e6e6e6;
            padding-left: 10px;
        }
        img{
            width: 100px;
            height: 40px;
            vertical-align: middle;
//          margin-top: 30px;
        }
        a{
            margin-left: 10px;
            color:#0083ce ;
        }
        a:hover{
            text-decoration: underline;
        }
        .span_in{
            color: red;
        }
        
        #p{
            margin: 6px 0 12px 0;
            input{
                margin-right: 8px;
            }
        }
    }
   #login{
       color: #fff;
       width:326px ;
       height:40px ;
       background:#0099f1 ;
       display: block;
       font-size: 16px;
       text-align: center;
       line-height: 40px;
   }
   #login:hover{
       background: #0083ce;
   }
   .link_tu{
       margin: 16px 0 15px 0;
       color: #5e5e5e;
       span{
           margin-bottom: 5px;
           display: inline-block;
       }
       a{
           background: url(../img/img_zhifu.png) no-repeat -294px 0px;
            display: block;
            float: left;
            height: 39px;
            margin-right: 18px;
            width: 39px;
            border: none;
//          background-position:  ;
       }
       .winxin{
          background: url(../img/img_zhifu.png) no-repeat 0px 0px;
       }
        .winxin:hover{
            background-position: -294px -53px;
        }
       .zhifubao{
           
       }
       .qq{
           
       }
   }
}





/*footer*/
.footer6{
   height: 90px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: #a5a5a5;
    a {
        text-decoration: none;
        color: #a5a5a5;
      }
    a:hover{
    text-decoration: underline;
    cursor: pointer
    } 
}
